/*body {*/
/*    border: blue 2px solid;*/
/*}*/

/*body div {*/
/*    border: green 2px solid;*/
/*}*/

/*body div div {*/
/*    border: red 2px solid;*/
/*}*/

.monster-card {
    border: 2px solid #333;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #f6e2e2;
    width: 250px;
    box-shadow: 3px 3px 6px black;
}
